<div class="col-xs-8">
	<div class="col-xs-5">
		<img ng-src="{{ currentApplicant.image }}" fallback-src loading-src class="img-thumbnail" alt="headshot" width="400">
	</div>
	<div class="col-xs-7 details">
		<h3>{{ currentApplicant.name }}</h3>
		<ul>
			<li><strong>Phone:</strong> {{ currentApplicant.phone }}</li>
			<li><strong>Email:</strong> {{ currentApplicant.email }}</li>
			<li><strong>Height:</strong> {{ currentApplicant.height }}</li>
			<li><strong>Weight:</strong> {{ currentApplicant.weight }}</li>
			<li><strong>Hair Color:</strong> {{ currentApplicant.hair }}</li>
			<li><strong>Eye Color:</strong> {{ currentApplicant.eye }}</li>
			<li><strong>DOB:</strong> {{ currentApplicant.dob }}</li>
		</ul>
	</div>
	<div class="col-xs-12">
		<p><strong>Film:</strong> {{ currentApplicant.film }}</p>
		<p><strong>Television:</strong> {{ currentApplicant.tv }}</p>
		<p><strong>Theatre:</strong> {{ currentApplicant.theatre }}</p>
		<p><strong>Commercial:</strong> {{ currentApplicant.commercial }}</p>
		<p><strong>Education:</strong> {{ currentApplicant.education }}</p>
		<p><strong>Training:</strong> {{ currentApplicant.training }}</p>
		<p><strong>Special skills:</strong> {{ currentApplicant.skills }}</p>
	</div>
</div>	

<aside ng-controller="NotesCtrl" class="col-xs-4">	
	<h3>Notes</h3>
	<!-- messages -->
	<div id="chat">
		<ul id="msgs">
	      <li ng-repeat="message in notes">
	        <!-- message -->
	        <span><h3>{{ message.from }}: </h3>{{ message.text }}</span>
	        <!-- delete message if related to current user -->
	        <button ng-hide="message.id != currentuser.$id" ng-click="notes.$remove(message)"><i class="fa fa-times-circle"></i></button>
	        
	      </li>
	    </ul>
	</div>
	<!-- textarea for new messages -->
    <div id="newMsg">
    	<hr><textarea ng-model="newMessage" ng-keydown="addMessage($event)" class="form-control"></textarea>
    </div>
	</aside>