<div class="col-xs-3">
	<img ng-src="{{ currentApplicant.image }}" fallback-src loading-src class="img-thumbnail" alt="headshot" width="400">
</div>
<div class="col-xs-9 details">
	<h3>{{ currentApplicant.name }}</h3>
	<ul>
		<li><strong>Phone:</strong> {{ currentApplicant.phone }}</li>
		<li><strong>Email:</strong> {{ currentApplicant.email }}</li>
		<li><strong>Height:</strong> {{ currentApplicant.height }}</li>
		<li><strong>Weight:</strong> {{ currentApplicant.weight }}</li>
		<li><strong>Hair Color:</strong> {{ currentApplicant.hair }}</li>
		<li><strong>Eye Color:</strong> {{ currentApplicant.eye }}</li>
		<li><strong>DOB:</strong> {{ currentApplicant.dob }}</li>
		</ul>
		<p><strong>Film:</strong> {{ currentApplicant.film }}</p>
		<p><strong>Television:</strong> {{ currentApplicant.tv }}</p>
		<p><strong>Theatre:</strong> {{ currentApplicant.theatre }}</p>
		<p><strong>Commercial:</strong> {{ currentApplicant.commercial }}</p>
		<p><strong>Education:</strong> {{ currentApplicant.education }}</p>
		<p><strong>Training:</strong> {{ currentApplicant.training }}</p>
		<p><strong>Special skills:</strong> {{ currentApplicant.skills }}</p>
</div>