<h1 class="col-xs-12"><a href="/">Casting</a></h1>
<div class="col-xs-12">
	<!-- currently displaying the first name of current user -->
	<div class="userInfo" ng-controller="StatusCtrl" ng-show="currentuser">
		<span class="user">Hi {{ currentuser.fname }}</span>
	</div>
	<!-- displays the applicants to the current user -->
	<div ng-controller="ApplyCtrl" class="col-xs-8 content">
		<div id="recent-apps">
			<ul id="applications">
		      <li ng-repeat="applicant in applications">
		      	<!-- applicant headshot -->
		      	<div class="col-xs-3">
		      		<a href="#/applicant/{{applicant.$id}}">
		      			<img ng-src="{{ applicant.image }}" fallback-src loading-src class="img-thumbnail userImg" alt="headshot" width="200">
		      		</a>
		      	</div>
		      	<!-- applicant basic information -->
		      	<div class="col-xs-9 details">
		      		<h3><a href="#/applicant/{{applicant.$id}}">{{ applicant.name }}</a></h3>
		      		<ul>
		      			<li><strong>Phone:</strong> {{ applicant.phone }}</li>
			        	<li><strong>Email:</strong> {{ applicant.email }}</li>
			        	<li><strong>Height:</strong> {{ applicant.height }}</li>
			        	<li><strong>Weight:</strong> {{ applicant.weight }}</li>
			        	<li><strong>Hair Color:</strong> {{ applicant.hair }}</li>
			        	<li><strong>Eye Color:</strong> {{ applicant.eye }}</li>
			        	<li><strong>DOB:</strong> {{ applicant.dob }}</li>
		      		</ul>
		      	</div>
		      </li>
		    </ul>
		</div>
	</div>
	<!-- main chat for users -->
	<aside ng-controller="HomeCtrl" class="col-xs-4">	
		<!-- messages -->
		<div id="chat">
			<ul id="msgs">
		      <li ng-repeat="message in messages">
		        <!-- message -->
		        <span><h3>{{ message.from }}: </h3>{{ message.text }}</span>
		        <!-- delete message if related to current user -->
		        <button ng-click="messages.$remove(message)"><i class="fa fa-times-circle"></i></button>
		        
		      </li>
		    </ul>
		</div>
		<!-- textarea for new messages -->
	    <div id="newMsg">
	    	<hr><textarea ng-model="newMessage" ng-keydown="addMessage($event)" class="form-control"></textarea>
	    </div>
	</aside>
</div>