<h1 class="col-xs-12"><a href="/">Casting</a></h1>
<div class="col-xs-12">
	<div ng-controller="ApplyCtrl" class="col-xs-8 content">
		<div id="recent-apps">
			<ul id="applications">
		      <li ng-repeat="applicant in applications">
		        
		        <ul>
		        	<li><strong>{{ applicant.name }}</strong></li>
		        	<li><strong>{{ applicant.phone }}</strong></li>
		        	<li><strong>{{ applicant.email }}</strong></li>
		        	<li><strong>Height:</strong> {{ applicant.height }}</li>
		        	<li><strong>Weight:</strong> {{ applicant.name }}</li>
		        	<li><strong>Hair Color:</strong> {{ applicant.hair }}</li>
		        	<li><strong>Eye Color:</strong> {{ applicant.eye }}</li>
		        	<li><strong>DOB:</strong> {{ applicant.dob }}</li>
		        	<li><strong>Film:</strong> {{ applicant.film }}</li>
		        	<li><strong>Television:</strong> {{ applicant.tv }}</li>
		        	<li><strong>Theatre:</strong> {{ applicant.theatre }}</li>
		        	<li><strong>Commercial:</strong> {{ applicant.commercial }}</li>
		        	<li><strong>Education:</strong> {{ applicant.education }}</li>
		        	<li><strong>Training:</strong> {{ applicant.training }}</li>
		        	<li><strong>Special skills:</strong> {{ applicant.skills }}</li>
		        </ul>
		        
		      </li>
		    </ul>
		</div>
	</div>
	<aside ng-controller="HomeCtrl" class="col-xs-4">	
		<div id="chat">
			<ul id="msgs">
		      <li ng-repeat="message in messages">
		        
		        <!-- message -->
		        <span><h3>{{ message.from }}: </h3>{{ message.text }}</span>
		        <!-- delete message -->
		        <button ng-click="messages.$remove(message)"><i class="fa fa-times-circle"></i></button>
		        
		      </li>
		    </ul>
		</div>
	    <div id="newMsg">
	    	<hr><textarea ng-model="newMessage" ng-keydown="addMessage($event)" class="form-control"></textarea>
	    </div>
	</aside>
</div>