<section class="login">
	<form name="login-form" novalidate>
		<h1>Log In</h1>
		<input type="email" name="email" placeholder="Email" autofocus ng-model="user.email" ng-required="true"><br>
		<p class="error" ng-show="login-form.email.$invalid && login-form.email.$touched">Must be a valid email</p>
		<input type="password" name="password" placeholder="Password" ng-model="user.password"><br>
		<p class="error" ng-show="login-form.password.$invalid && login-form.password.$touched">Please enter a valid password</p>
		<button type="submit">Log In</button>
	</form>
</section>